
html{
  font-size: 62.5%;
}
body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-2xs-7: 1.07rem;
    --font-size-smi-5: 1.25rem;
    --font-size-mini-3: 1.43rem;
  
    /* Colors */
    --neutral-10: #fff;
    --neutral-40: #d6d6d6;
    --neutral-60: #878787;
    --neutral-90: #1d1d21;
    --neutral-100: #101010;
    --color-gray-100: rgba(16, 16, 16, 0.1);
    --primary-delivery-app: #4faf5a;
    --neutral-50: #c2c2c2;
    --label-color-light-primary: #000;
  
    /* Gaps */
    --gap-5xs-2: 0.72rem;
    --gap-9xs-6: 0.36rem;
    --gap-11xs-8: 0.18rem;
    --gap-8xs-5: 0.45rem;
  
    /* Paddings */
    --padding-2xs-7: 1.07rem;
    --padding-mini-3: 1.43rem;
    --padding-5xs-1: 0.71rem;
  
    /* Border radiuses */
    --br-16xl-7: 3.57rem;
    --br-9xs-6: 0.36rem;
    --br-4xs-9: 0.89rem;
    --br-2xs-7: 1.07rem;
    --br-lg: 0.8rem;
  }
  